<!DOCTYPE html>
<html>
  <head>
    
  </head>
  <body>
    <h1>Lucky you!</h1>
    
    <h3><%= @sender_name %> invited you to <%= @tour.name %></h3>
    
    <p>
      <%= link_to "Log in", root_url(host: @host, protocol: @protocol) %> to
      your Puborbar account to start voting on where this event should take
      place!
    </p>
      
    <p>
      Don't have an account yet?
      <%= link_to "Let's fix that.",
                  new_user_url(host: @host, protocol: @protocol) %>
    </p>
    
    <p>
      Not sure why you're getting this email? We're not sure either. Oh well.
    </p>
  </body>
</html>
