<!DOCTYPE html>
<html>
  <head>
    
  </head>
  <body>
    <h1>Hey, <%= @recipient.name %>!</h1>
    
    <h3><%= @sender.name %> invited you to <%= @tour.name %></h3>
    
    <p>
      <%= link_to "Log in", root_url(host: @host, protocol: @protocol) %> to
      your Puborbar account to start voting on where this event should take
      place!
    </p>
    
    <p>
      Not sure why you're getting this email? We're not sure either. Oh well.
    </p>
  </body>
</html>