<p>
  <span class="comment-text"><%= comment.text %></span>
  <span class="comment-commenter"><%= comment.commenter.name %></span>
  <span class="comment-time"><%= comment.created_at.strftime("%A, %b %e '%y at %I:%M%p") %></span>
</p>
<hr />
