section.proposal-comments.row {
  margin: 0.5rem;
  
  article {
    padding: 0.5rem;
    
    &:nth-child(odd) {
      background-color: #f2f2f2;
    }    
    .comment-commenter {
      color: #07c;
      margin-right: 0.5rem;
    }    
    .comment-time {
      color: #999;
      margin-right: 0.2rem;
    }
  }  
  form, form>div {
    display: inline;
  } 
}