$my-red: #ff0040;
$my-green: #a1ff00;
$my-purple: #35007a;
$my-blue: #0000b3;

section.proposal-comments.row {
  margin: 0.5rem;
  
  article {
    padding: 0.5rem;
    
    &:nth-child(odd) {
      background-color: #f2f2f2;
    }    
    .comment-commenter {
      color: lighten( $my-purple, 10% );
      margin-right: 0.5rem;
    }    
    .comment-time {
      color: #999;
      margin-right: 0.2rem;
    }
    textarea {
      font-size: inherit;
    }
  }
  
  form {
    margin-top: 0.5rem;
    
    textarea {
      font-size: inherit;
    }
  }
}