$my-red: #ff0040;

body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  
  &:visited {
    //color: #666;
  }
  &:hover {
    color: #666; //#fff;
    background-color: inherit; //#000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

ul, ol {
  list-style-type: none;
}

li .fa {
  margin: 0 0.2rem;
}

.form-title, .content {
  margin-top: 1.2rem;
  margin-bottom: 1.25rem;
}

.action {
  margin-top: 1.25rem;
}

button.borderless-button, a.borderless-button {
  background: none;
  border: none;
  display: inline;
  padding: 0;
  margin: 0;
  color: inherit;
  font-size: inherit;
  
  &.red {
    color: $my-red;
  }
  
  &[disabled] {
    background: none;
        
    .fa {
      color: #e7e7e7;  
    }
  }
}

.red {
  color: $my-red;
}

#search-bar {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.venue-list {
  display: table;
  width: 100%;
  margin: 0;
  padding: 0;
  $venue-list-item-height: 64px;
  
  border-collapse: separate;
  border-spacing: 0 5px;
  
  > li {
    display: table-row;
    margin: 0;
    padding: 0;

    height: $venue-list-item-height;
    
    &:hover {
      background-color: #e5f9ff;
    }
    
    div.venue-image {
      display: table-cell;
      width: $venue-list-item-height;
      > img {
        display: block;
        width: $venue-list-item-height;
        height: $venue-list-item-height;        
      }
    }
    
    div.venue-data {
      display: table-cell;
      padding: 0 0.5rem;
      vertical-align: top;
      
      span.venue-name {
        display: block;
        padding: 0.5rem 0 0 0;
        font-size: 16px;  
      }      
    }
    
    div.venue-add {
      display: table-cell;
      width: $venue-list-item-height;
      
      button {
        display: block;
        float: right;
        margin: 0;
        padding: 0;
        width: $venue-list-item-height;
        height: $venue-list-item-height;
      }
    }
  }
}
