div.tour-stops ol {
  margin: 0;
  
  li section.proposal-header.row {
    margin: 0.5rem;
    
    div.voting-controls {
      text-align: center;
      
      h3 {
        margin: 0;
      }  
      button {
        margin: 0 auto;
      }
    }
    
    div.organizer-controls {
      span {
        display: inline-block;
        vertical-align: middle;
        margin-right: 1rem;
        
        form {
          display: inline;
          
          .fa-check {
            color: #43AC6A;
          }      
          .fa-times {
            color: #f04124;
          }
        }
      }
      
      section#voting-histogram div {
        padding: 0.1rem;
      }
    }
  }
}

div.avatar-label {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.5rem;
  
  div.note {
    font-size: 0.7rem;
    font-style: italic;
    padding: 0 0.2rem;
  }
  
  div.address, div.phone_number {
    font-size: 0.8rem;
    padding: 0 0.2rem;
  }
}
