hgroup {
  span.tour-controls {
    margin-left: 1rem;
  }
  form {
    display: inline;
  }
}

[data-magellan-expedition] dl.sub-nav {
  padding: 10px 10px 10px 0;
  margin-left: 0;
  
  dt, dd {
    margin-left: 0.9rem;
    font-weight: 300;
    
    &:not(.active):hover a {
      border-radius: 3px;
    }    
    .button {
      margin: 0;
      line-height: initial;
    }
  }
}
